@model ConsumoApiProjetoFinal.Models.ViewModels.PessoaFormViewModel

@{
    ViewData["Title"] = "Create";
   
}

<h1>Create</h1>

<h4>Pessoa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="pessoa.Nome" class="control-label"></label>
                <input asp-for="pessoa.Nome" class="form-control" />
                <span asp-validation-for="pessoa.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pessoa.DataNascimento" class="control-label"></label>
                <input asp-for="pessoa.DataNascimento" class="form-control" />
                <span asp-validation-for="pessoa.DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pessoa.Cpf" class="control-label"></label>
                <input asp-for="pessoa.Cpf" class="form-control" />
                <span asp-validation-for="pessoa.Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pessoa.RG" class="control-label"></label>
                <input asp-for="pessoa.RG" class="form-control" />
                <span asp-validation-for="pessoa.RG" class="text-danger"></span>
            </div>
                <div class="form-group">
                <label asp-for="contato.Email" class="control-label"></label>
                <input asp-for="contato.Email" class="form-control" />
                <span asp-validation-for="contato.Email" class="text-danger"></span>
            </div>
            
                <div class="form-group">
                <label asp-for="contato.Telefone" class="control-label"></label>
                <input asp-for="contato.Telefone" class="form-control" />
                <span asp-validation-for="contato.Telefone" class="text-danger"></span>
            </div>
            
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
