@model ConsumoApiProjetoFinal.Models.ViewModels.FotoPortifolioViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>FotoPortifolio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <input type="hidden" asp-for="FotoPortifolio.Id" />
            <div class="form-group">
                <label asp-for="FotoPortifolio.CaminhoFoto" class="control-label"></label>
                <input asp-for="FotoPortifolio.CaminhoFoto" class="form-control" />
                <span asp-validation-for="FotoPortifolio.CaminhoFoto" class="text-danger"></span>
            </div>
           <div class="form-group">
               <label asp-for="FotoPortifolio.PortifolioId" class="control-label"></label>
                <select asp-for="FotoPortifolio.PortifolioId" 
                asp-items="@(new SelectList(@Model.Portifolios,"Id","Name"))" 
                class="form-control"> </select>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
