@model IEnumerable<ConsumoApiProjetoFinal.Models.Portifolio>
@{
    
}
@*~/css/fotos/1.png*@
 <h2>Portifolio</h2>

<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Eventos" class=btn-link ><h4>Eventos</h4></a>
@foreach (var item in Model)
{
    <div class="container">
        <h4>@item.Name</h4>
        <div class="col-md-6">
       <img src=@item.CaminhoFotoPrincipal height=200 width=200/>
        <span>@item.Descricao</span>          
    </div>
    
    <br />
    <br />
     <br />
    <h6>Demais Fotos</h6>
    @foreach(var fotos in @item.FotosPortifolio)
                {
                    <a href=@fotos.CaminhoFoto><img src=@fotos.CaminhoFoto height=200 width=200 border=10px /></a>
                }
               
                <br /> <hr> 
    </div>       
}

